<% if round.present? %>
  <p>Round <%= game.rounds.count %> (<%= round.human_readable_status.downcase %>)</p>
  <p>Category: <b style="color:blue"><%= round.category %></b></p>
  <p><%= round.rule.name.humanize %>: <%= round.rule.description %></p>

  <% if round.finished? %>
    <% round.lists.each do |list| %>
      <div style="display: inline-block; margin-right: 10px;">
        <p><%= list.player.name %> wrote:</p>
        <ol>
          <% list.entries.each do |entry| %>
            <li><%= entry.content %></li>
          <% end %>
        </ol>
      </div>
    <% end %>
  <% end %>
<% end %>
<% if am_the_host? %>
  <% if (game.rounds.none? || round.finished?) %>
    <button data-action="game#addRound">New round</button>
  <% elsif round.draft? %>
    <button data-action="game#changeRound">Regenerate</button>
    <button data-action="game#startRound">Start round</button>
  <% end %>
<% end %>
    
