<p>
  <strong>Code:</strong>
  <%= @game.code %>
</p>

<p>Playing:</p>
<% if game.players.any? %>
  <ol>
    <% game.players.each do |player| %>
      <li>
        <%= player.name %>
        <% if player == game.host %>
          <i class="fa-solid fa-crown"></i> 
        <% end %>
      </li>
    <% end %>
  </ol>
<% else %>
  <p>noone yet!</p>
<% end %>

<hr>

<% if game.in_play? %>
  <% if game.rounds.any? %>
      <p>Round <%= game.rounds.count %></p>
  <% end %>
  <% if am_the_host? %>
    <% if (game.rounds.none? || game.rounds.last.finished?) %>
      <button data-action="game#addRound">New round</button>
    <% elsif game.rounds.last.draft? %>
      <button data-action="game#startRound">Start round</button>
    <% end %>
  <% end %>
<% else %>
  <%= button_to "Start the game already!", game_start_path(game), method: :put %>
<% end %>

<hr>

<% if current_user.in?(game.players) %>
  <%= button_to "Leave game", game_leave_path(game), method: :delete %>
<% else %>
  <%= button_to "Join game", game_join_path(game), method: :put %>
<% end %>
