<!DOCTYPE html>
<html>
  <head>
    <title>Strategories</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="auth-div">
      <% if current_user.present? %>
        <p>Player: <b><%= link_to current_user.name, user_path(current_user) %></b> | Points: <%= current_user.points %></b></p>
        <%= button_to "Sign out", destroy_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign in", new_session_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
